::-ms-clear {
    display: none;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../_client/mobile/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../_client/mobile/fonts/MaterialIcons-Regular.ttf') format('truetype'); /* Legacy */
}


i.material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    display: inline-block;
    width: 24px;
    height: 24px;
}



.cloud-model-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* cloud model builder */

.cloud-model-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0px;
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: solid 1px silver;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
}

    .cloud-model-container:focus {
        outline: none;
    }

.cloud-model-diagram {
    position: relative;
    padding: 0;
    margin: 0;
    transform-origin: 0 0;
}


.cloud-model-table {
    border: solid 1px #000;
    border-spacing: 0;
    position: absolute;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 0 10px #fff;
    /*transition: box-shadow 100ms, z-index 100ms, opacity 500ms;*/
    /*transition-delay: 0;*/
}

    .cloud-model-table:hover,
    .cloud-model-table.cloud-model-drop-target,
    .cloud-model-table.cloud-model-highlight,
    .cloud-model-table.cloud-model-inspected {
        box-shadow: 0 0 10px;
        z-index: 1000;
    }

        .cloud-model-table:hover:not(.cloud-model-table-base) th {
            /*transition: background-color 100ms;*/
        }


    .cloud-model-table .cloud-model-column {
        color: #999;
        background-color: #ddd;
        /*transition-delay: 0;*/
    }

    .cloud-model-table .cloud-model-column {
    }

        .cloud-model-table .cloud-model-column:not(.cloud-model-column-selected) input {
            opacity: .5;
        }

        .cloud-model-table .cloud-model-column-selected, .cloud-model-table .cloud-model-column:hover {
            color: #000;
            background-color: #fff;
        }

            .cloud-model-table .cloud-model-column-selected:hover,
            .cloud-model-table .cloud-model-column.cloud-model-inspected {
                background-color: #dff0d8;
            }

    .cloud-model-table th, .cloud-model-table td {
        font-size: 13px;
        font-family: Calibri;
        padding: 2px 6px;
    }

    .cloud-model-table th {
        background-color: #666;
        color: #fff;
        border-bottom: solid 1px #000;
        padding: 7px 6px;
        font-weight: normal;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.cloud-model-column-spec {
    min-width: 20px;
    cursor: default;
}

.cloud-model-column-spec, .cloud-model-column-name {
    border-right: solid 1px #000;
}

.cloud-model-column-required {
    font-weight: bold;
}

.cloud-model-column-separator td {
    height: 0px;
    padding: 0;
    border-top: solid 1px #000;
}

/*.cloud-model-table .cloud-model-first td {
    padding-top: 6px;
}

.cloud-model-table .cloud-model-last td {
    padding-bottom: 6px;
}*/

.cloud-model-column-pk .cloud-model-column-name {
}

    .cloud-model-column-pk .cloud-model-column-name span {
        text-decoration: underline;
    }

.cloud-model-column-hidden {
    display: none;
}

.cloud-model-table-base th {
    background-color: #337ab7;
    color: #fff;
}

    .cloud-model-table-base th span {
        display: inline-block;
        text-overflow: ellipsis;
    }

.cloud-model-column-name input {
    margin-right: 8px;
    vertical-align: middle;
}

.cloud-model-column-name span {
    display: inline-block;
    vertical-align: middle;
}

.cloud-model-column-name {
    cursor: pointer;
}

    .cloud-model-column-name input {
        cursor: auto;
    }

.cloud-model-column:hover {
    background-color: #eee;
}

.cloud-tooltip {
    background-color: #000;
    color: #fff;
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 400px;
    font-size: 11pt;
    font-family: Calibri;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
}

    .cloud-tooltip table {
        border-spacing: 0;
    }

        .cloud-tooltip table tr td {
            vertical-align: top;
        }

    .cloud-tooltip b {
        color: #38c /* #337ab7 #2aabd2  #5cb85c */;
    }

    .cloud-tooltip table tr td:nth-child(1) {
        color: #aaa;
        padding-right: 8px;
    }

    .cloud-tooltip table tr td:nth-child(2) {
        /*font-weight: bold;*/
    }

tr.cloud-model-dependency {
    background-color: #d9edf7 !important;
    color: #000 !important;
    /*transition: background-color 500ms, color 500ms;
    transition-delay: 1s !important;*/
}

/* left-side bar for each table in the chain */

/*tr.cloud-model-dependency .cloud-model-column-name::before {
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #337ab7;
    content: " ";
    display: inline-block;
    border-top:solid 1px #000;
    border-bottom:solid 1px #000;
    border-left:solid 1px #000;
}*/


.cloud-model-table.cloud-model-dependency {
    /*box-shadow: 0 0 10px;*/
    z-index: 1000;
}

.cloud-model-table .cloud-model-tracking {
    outline: solid 3px #5cb85c;
}

    .cloud-model-table .cloud-model-tracking td {
        background-color: #dff0d8 !important;
    }



.cloud-model-has-dependency .cloud-model-table:not(.cloud-model-dependency), .cloud-model-has-dependency .cloud-model-connector:not(.cloud-model-dependency) {
    /*transition-delay: 1s;*/
    opacity: .35;
}

.cloud-divider-horizontal {
    height: 2px;
    border-top: solid 1px #696969;
    background-color: #696969;
    border-bottom: solid 1px #696969;
    cursor: n-resize;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4002;
}

    .cloud-divider-horizontal:hover,
    .cloud-divider-horizontal.cloud-model-dragging {
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .cloud-divider-horizontal.cloud-model-dragging {
        cursor: ns-resize;
    }

.cloud-model-list {
    /*border: solid 1px red;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: ButtonFace;
    border-top: solid 1px silver;
    border-right: solid 1px silver;
    /*border-left: solid 1px silver;*/
}


/* horizontal scrollbar */

.app-scrollbar-info {
    width: 100px;
    height: 100px;
    overflow: auto;
    position: absolute;
    top: -200px;
    left: -200px;
    -ms-overflow-style: scrollbar;
    z-index: 4000;
}

    .app-scrollbar-info div {
        width: 200px;
        height: 200px;
    }

.cloud-grid-hscrollbar {
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: ButtonFace;
    border-left: solid 1px silver;
}

    .cloud-grid-hscrollbar div {
        height: 1px;
        width: 5000px;
    }


/* Cloud.Utilities.grid */

.cloud-grid-header {
    position: absolute;
    left: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    background-color: #ddd; /*background-color: #337ab7;     color: #fff;*/
    border-bottom: solid 1px silver;
    border-left: solid 1px silver;
}

.cloud-grid-body {
    position: relative;
    background-color: #fff;
}

.cloud-grid {
    font-family: Calibri;
    font-size: 13px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 201px;
    background-color: #fff;
}

    .cloud-grid table {
        border-spacing: 0;
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        margin-bottom: 1px;
    }

    .cloud-grid th {
        padding: 4px 8px;
        border-right: solid 1px silver;
        border-bottom: solid 1px silver;
        white-space: nowrap;
        text-align: left;
    }

    .cloud-grid td, .cloud-grid th {
        padding: 4px 8px;
        border-right: solid 1px silver;
        border-bottom: solid 1px silver;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
    }


    .cloud-grid .cloud-grid-header span {
        display: inline-block;
        padding: 5px 8px 4px 8px;
        border-right: solid 1px silver;
        font-weight: bold;
    }

    .cloud-grid .cloud-grid-header-fixed {
        z-index: 2; /*background-color: #337ab7;*/
    }

    .cloud-grid tr.cloud-grid-hover:not(.cloud-model-dependency):not(.cloud-model-inspected) td {
        background-color: #eee;
    }

    .cloud-grid .cloud-grid-fixed-columns {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 1;
        display: inline-block;
    }

    .cloud-grid tr.cloud-model-dependency,
    .cloud-grid tr.cloud-model-inspected {
        background-color: #dff0d8 !important;
        /*transition: background-color 0 !important;*/
    }

    .cloud-grid .cloud-grid-fixed-shadow {
        box-shadow: 0 0 15px silver;
    }

    .cloud-grid .cloud-grid-corner {
        display: inline-block;
        background-color: #000;
        width: 12px;
        height: 12px;
        position: absolute;
        left: -6px;
        top: -6px;
        transform: rotate(45deg);
    }

        .cloud-grid .cloud-grid-corner.cloud-grid-corner-borrowed {
            background-color: #666;
        }

        .cloud-grid .cloud-grid-corner.cloud-grid-corner-alias {
            background-color: #337ab7;
        }

    .cloud-grid [data-column="Spec"] {
        cursor: default;
    }

    .cloud-grid [data-column="RowNumber"] {
        cursor: default;
        min-width: 18px;
    }



/*.cloud-grid td[tabindex]:focus {
        outline: solid 3px #000;
        z-index: 2;
    }*/

.cloud-model-list .cloud-grid table {
    /*border-left-color: transparent;*/
}

.cloud-model-list .cloud-model-list-field-pk {
    text-decoration: underline;
}

.cloud-model-list .cloud-model-list-field-required {
    font-weight: bold;
}

.cloud-model-connector {
    stroke: #000;
    fill: none;
}

    .cloud-model-connector.cloud-model-connector-disabled {
        /*stroke: #aaa;*/
        opacity: .5;
    }

    .cloud-model-connector.cloud-model-inspected {
        opacity: 1;
        stroke: #000;
    }

/*.cloud-model-table.cloud-model-table-disabled:not(:hover) {
    opacity: .5;
    border-color: #777;
}

    .cloud-model-table.cloud-model-table-disabled:not(:hover) th,
    .cloud-model-table.cloud-model-table-disabled:not(:hover) td {
        border-color: #777;
    }*/

.cloud-model-table.cloud-model-table-disabled {
    border-color: #aaa;
}

    .cloud-model-table.cloud-model-table-disabled th {
        border-color: #777;
        color: #eee;
        background-color: #aaa;
        /*text-decoration: line-through;*/
    }

    .cloud-model-table.cloud-model-table-disabled td {
        border-color: #aaa;
    }

.cloud-model-list .cloud-model-dragging::before,
.cloud-model-table.cloud-model-dragging::before,
.cloud-model-table.cloud-model-drop-target::before,
.cloud-model-table.cloud-model-highlight::before,
.cloud-model-table.cloud-model-inspected::before {
    display: inline-block;
    content: " ";
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background-color: #38c;
    opacity: 1;
}

.cloud-model-table.cloud-model-table-disabled.cloud-model-highlight::before,
.cloud-model-table.cloud-model-table-disabled.cloud-model-dragging::before,
.cloud-model-table.cloud-model-table-disabled.cloud-model-drop-target::before {
    border-color: #aaa;
}

.cloud-model-table.cloud-model-highlight::before,
.cloud-model-table.cloud-model-dragging::before,
.cloud-model-table.cloud-model-drop-target::before {
    width: 3px;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-bottom: solid 1px #000;
}


.cloud-model-table.cloud-model-dragging {
    z-index: 10000;
}

.cloud-model-panel {
    border-width: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: auto;
    border-left: solid 1px silver;
}

    .cloud-model-panel .cloud-model-table-list {
        margin: 0;
        padding: 0 0 8px 8px;
    }

        .cloud-model-panel .cloud-model-table-list li {
            list-style-type: none;
            min-width: 185px;
            max-width: 185px;
            margin: 8px 8px 0 0;
            padding: 8px;
            font-size: 13px;
            font-family: Calibri;
            float: left;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: solid 1px transparent;
        }

            .cloud-model-panel .cloud-model-table-list li:hover {
                background-color: #dff0d8;
                border-color: #3c763d;
            }

            .cloud-model-panel .cloud-model-table-list li .cloud-model-table-ref-count {
                font-weight: normal;
                margin-left: 4px;
                display: inline-block;
            }

                .cloud-model-panel .cloud-model-table-list li .cloud-model-table-ref-count:before {
                    content: "(";
                }

                .cloud-model-panel .cloud-model-table-list li .cloud-model-table-ref-count:after {
                    content: ")";
                }

        .cloud-model-panel .cloud-model-table-list .cloud-model-table-ref {
            font-weight: bold;
        }

.cloud-model-clear {
    float: none;
    clear: both;
    height: 8px;
}

.cloud-model-modal-background {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4003;
    opacity: .25;
    background-color: #000;
    position: absolute;
    display: inline-block;
}

.cloud-model-menu {
    position: absolute;
    display: inline-block;
    z-index: 4004;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    font-family: Calibri;
    padding: 0 1px 5px 1px;
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
    margin-top: 7px;
}

    .cloud-model-menu .cloud-model-popup-arrow {
        position: absolute;
        left: 50%;
        display: inline-block;
        top: 0;
        margin-left: -5px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        background-color: #333;
        transform: rotate(45deg);
    }

    .cloud-model-menu.cloud-model-menu-above {
        margin-top: 0;
        margin-bottom: 7px;
        padding-bottom: 6px;
    }

        .cloud-model-menu.cloud-model-menu-above .cloud-model-popup-arrow {
            top: auto;
            bottom: 0;
            margin-top: auto;
            margin-bottom: -5px;
        }

    .cloud-model-menu h1 {
        font-size: 13px;
        padding: 6px 8px;
        background-color: #333;
        color: #fff;
        margin: 0;
        text-align: left;
        font-weight: normal;
    }

    .cloud-model-menu ul {
        margin: 0;
        padding: 0;
    }

        .cloud-model-menu ul li {
            background-color: #111;
            list-style-type: none;
            padding: 5px 8px;
            cursor: pointer;
            min-width: 150px;
            margin-bottom: 1px;
        }

            .cloud-model-menu ul li:hover {
                background-color: #38c;
                color: #fff;
            }

    .cloud-model-menu.cloud-model-menu-notitle {
        padding-top: 7px;
    }



.cloud-model-panel-formula {
}

    .cloud-model-panel-formula.cloud-model-panel-formula-where .cloud-model-formula-field {
        border-width: 0;
    }

    .cloud-model-panel-formula.cloud-model-panel-formula-where .cloud-model-formula-verify {
        display: none;
    }


    .cloud-model-panel-formula .cloud-model-formula-field {
        position: absolute;
        left: 8px;
        top: 8px;
        right: 115px;
        display: inline-block;
        border: solid 1px silver;
        padding: 3px 8px;
        background-color: #fff;
    }

        .cloud-model-panel-formula .cloud-model-formula-field input {
            font-size: 13px;
            font-family: Calibri;
            width: 98%;
            border-width: 0;
        }

    .cloud-model-panel-formula .cloud-model-formula-text {
        position: absolute;
        left: 8px;
        top: 40px;
        right: 115px;
        bottom: 8px;
        border: solid 1px silver;
    }

        .cloud-model-panel-formula .cloud-model-formula-text .CodeMirror {
            height: 100%;
            font-size: 9pt;
            font: Courier new;
        }

    .cloud-model-panel-formula button {
        font-size: 13px;
        font-family: Calibri;
        position: absolute;
        width: 100px;
        right: 8px;
    }

    .cloud-model-panel-formula .cloud-model-formula-verify {
        top: 8px;
    }

    .cloud-model-panel-formula .cloud-model-formula-save {
        top: 40px;
    }

    .cloud-model-panel-formula .cloud-model-formula-cancel {
        top: 72px;
    }

.cloud-model-panel {
    /*background-color:#337ab7;*/
    /*background-color: #d9edf7;*/
}

.CodeMirror-hints {
    max-width: 80%;
}

    .CodeMirror-hints li {
        font: Courier new;
        font-size: 9pt;
    }


.cloud-model-input-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 8px;
    background-color: #fff;
    cursor: default;
}


    .cloud-model-input-container .cloud-model-input {
        width: 100%;
        height: 100%;
        border-width: 0;
        padding: 0;
        margin: 0;
        font-size: 13px;
        font-family: Calibri;
    }

        .cloud-model-input-container .cloud-model-input:focus {
            outline: 0;
        }

.cloud-grid .cloud-grid-header [data-column].cloud-grid-focus {
    position: relative;
}

    .cloud-grid .cloud-grid-header [data-column].cloud-grid-focus::after {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background-color: #38c;
        display: inline-block;
    }

.cloud-grid tr.cloud-grid-focus td:first-child {
    position: relative;
}

    .cloud-grid tr.cloud-grid-focus td:first-child::after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 4px;
        background-color: #38c;
        display: inline-block;
    }

.cloud-grid tbody [data-field] [data-column]:not([data-input]),
.cloud-grid .cloud-grid-header [data-column] {
    cursor: default;
}

.cloud-grid tbody [data-field] [data-column][data-input] {
    cursor: text;
}

.cloud-model-column-visibility td {
    border-top: solid 1px #c0c0c0;
}

.cloud-model-column-visibility .cloud-model-column-visibility-toggle {
    cursor: pointer;
    color: #777;
}

    .cloud-model-column-visibility .cloud-model-column-visibility-toggle::after {
        content: "...";
    }

    .cloud-model-column-visibility .cloud-model-column-visibility-toggle:hover {
        color: #000;
    }

.cloud-model-panel-masterdetail {
    /*    border: solid 1px red!important;*/
    /* test */
    background-color: #fff;
    width: 300px;
    bottom: 0;
    border-width: 0;
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    overflow: auto;
    font-size: 13px;
    font-family: Calibri;
    padding: 0;
    z-index: 4003;
    overflow-x: hidden;
}

    /*    .cloud-model-panel-masterdetail .cloud-text {
        padding: 2px 6px;
    }
*/
    .cloud-model-panel-masterdetail .cloud-text .cloud-title {
        font-weight: bold;
        margin: 24px 12px 8px 12px;
        /*        text-transform: uppercase;*/
    }

        .cloud-model-panel-masterdetail .cloud-text .cloud-title:first-child {
            margin-top: 6px;
        }

    .cloud-model-panel-masterdetail .cloud-text p {
        padding-left: 32px;
    }

    .cloud-model-panel-masterdetail span[data-type] {
        text-decoration: none;
        cursor: pointer;
        color: #337ab7;
    }

        .cloud-model-panel-masterdetail span[data-type]:hover {
            text-decoration: underline;
            color: #111;
        }

    .cloud-model-panel-masterdetail [data-type="detail"] {
        position: relative;
        /*        font-weight: bold;*/
    }

    .cloud-model-panel-masterdetail .cloud-model-detail {
        padding: 8px;
        margin: -8px 8px 12px 23px;
        border: solid 1px #ddd;
        position: relative;
    }

        .cloud-model-panel-masterdetail .cloud-model-detail .cloud-input-label {
            font-weight: bold;
            cursor: default;
        }

        .cloud-model-panel-masterdetail .cloud-model-detail .cloud-input-value {
            position: relative;
            margin: 4px -8px;
            padding: 0 8px;
        }

            /*            .cloud-model-panel-masterdetail .cloud-model-detail .cloud-input-value .cloud-model-input-container {
                padding: 0;
            }
*/
            .cloud-model-panel-masterdetail .cloud-model-detail .cloud-input-value + .cloud-input-label {
                margin-top: 12px;
            }

            .cloud-model-panel-masterdetail .cloud-model-detail .cloud-input-value.cloud-empty {
                font-style: italic;
            }

        .cloud-model-panel-masterdetail .cloud-model-detail .cloud-checkbox {
            margin-top: 8px;
            line-height: 24px;
            display: inline-block;
            cursor: pointer;
        }

            .cloud-model-panel-masterdetail .cloud-model-detail .cloud-checkbox i {
                margin-right: 2px;
            }

            .cloud-model-panel-masterdetail .cloud-model-detail .cloud-checkbox + .cloud-checkbox {
                margin-left: 12px;
            }

    .cloud-model-panel-masterdetail .cloud-model-toolbar {
        position: absolute;
        right: 4px;
        top: 4px;
        left: auto;
    }

        .cloud-model-panel-masterdetail .cloud-model-toolbar .material-icon + .material-icon {
            margin-left: 4px;
        }

    .cloud-model-panel-masterdetail .material-icon {
        color: #555;
        cursor: pointer;
    }

        .cloud-model-panel-masterdetail .cloud-checkbox:hover .material-icon,
        .cloud-model-panel-masterdetail .material-icon:hover {
            color: #111;
        }

        .cloud-model-panel-masterdetail .material-icon.app-disabled {
            color: #aaa;
        }

        .cloud-model-panel-masterdetail .material-icon.app-hidden {
            visibility: hidden;
        }
